/* =Reset
-------------------------------------------------------------- */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
  border: 0;
  font-family: inherit;
  font-size: 100%;
  font-style: inherit;
  font-weight: inherit;
  margin: 0;
  outline: 0;
  padding: 0;
  vertical-align: baseline; }

html {
  font-size: 62.5%;
  /* Corrects text resizing oddly in IE6/7 when body font-size is set using em units http://clagnut.com/blog/348/#c790 */
  overflow-y: scroll;
  /* Keeps page centred in all browsers regardless of content height */
  -webkit-text-size-adjust: 100%;
  /* Prevents iOS text size adjust after orientation change, without disabling user zoom */
  -ms-text-size-adjust: 100%;
  /* www.456bereastreet.com/archive/201012/controlling_text_size_in_safari_for_ios_without_disabling_user_zoom/ */ }

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section {
  display: block; }

ol, ul {
  list-style: none; }

table {
  /* tables still need 'cellspacing="0"' in the markup */
  border-collapse: separate;
  border-spacing: 0; }

caption, th, td {
  font-weight: normal;
  text-align: left; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: ""; }

blockquote, q {
  quotes: "" ""; }

a:focus {
  outline: thin dotted; }

a:hover,
a:active {
  /* Improves readability when focused and also mouse hovered in all browsers people.opera.com/patrickl/experiments/keyboard/test */
  outline: 0; }

a img {
  border: 0; }

/* Mozilla based browsers */
::-moz-selection {
       background-color: #72b5cb;
       color: #fff;
}
/* Works in Safari */
::selection {
       background-color: #72b5cb;
       color: #fff;
}

/*********************************MAIN*********************************************/

body {
    font-family: sans-serif;
    font-size:16px;
    background:#f4f4f4;
    color:#333;
}

.header-wrapper {
    min-height:200px;
    background:rgb(185, 11, 78);
}

.header {
    width: 960px;
    margin: 0 auto;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    min-height: 200px;
    color:rgba(255, 255, 255, 0.9);
}

.header > div {
    height: 100px;
    flex-grow: 0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

.header .header-inner {
    flex-basis: 67%;
}

.header .header-meta {
    flex-basis: 34%;
}

.header .header-meta a {
    color:#fff;
}

.header h1 {
    font-size:3rem;
    color:#fff;
    letter-spacing: -1px;
    text-shadow:0 1px 2px rgba(0,0,0,0.5);
    
}

.header h2 {
    margin-top:0.5rem;
}

.header h2 span {
    font-family: 'Courier New', monospace;
}

div.wrapper {
    background: #ffffff;
    width:960px;
    margin:0 auto;
    box-sizing:border-box;
    padding:2rem;
    position: relative;
    top : -100px;
    border-radius:1rem;
    box-shadow: 0px 1px 5px 0 rgba(0,0,0,0.4);
}


.options-config {
    display:flex;
    color:#769e24;
    text-align:center;
    justify-content: space-evenly;
    align-items: center;
    font-family: 'Courier New', Courier, monospace;
    margin:2em;
}

.options-config > div {
    flex-basis:50%;
}


.options-editor {
    display: table;
    width: 100%;
}

.option-item {
    display:table-row;
    
}

.option-item > div {
    display:table-cell;
    box-sizing:border-box;
    padding:1rem;
    border-bottom: 1px solid #e6e6e6;
}

.option-item:nth-child(2n+1) {
    background:#f8f8f8;
}

.option-item > div > input[type='text'] {
    width:100%;
    
    
}

.option-count {
    font-size:10px;
    color:#999;
}

.option-selected label {
    font-size:12px;
    vertical-align: text-top;
    cursor: pointer;
}
.options-controls {
    display:flex;
    flex-direction: column;
    align-items:center;
    justify-content: center;
}
.options-controls button {
    margin-top:2rem;
}
button {
    background:transparent;
    border:0;
    cursor: pointer;
}

button.primary {
    border:1px solid rgb(185, 11, 78);
    background:rgb(185, 11, 78);
    color:#fff;
    padding:1.5rem 2.5rem;
    border-radius:5px;
    text-transform: uppercase;
    font-weight: bold;
	letter-spacing: 0px;
	
	border-radius: 3px;
    box-shadow: none;
    padding: 16px 24px;
    letter-spacing: 1px;
    line-height: 1;
    height: auto;
	width: auto;
	text-transform: uppercase;
	font-family:'Roboto';
}

button.primary:hover {
    background:rgb(134, 3, 54);
    border-color:rgb(134, 3, 54);
}

button.secondary {
    border:1px solid rgb(118, 196, 17);
    color:rgb(118, 196, 17);
    padding:1.5rem 2.5rem;
    border-radius:5px;
    letter-spacing: 0px;
}
button.secondary:hover {
    border-color:rgb(96, 158, 15);
    color:rgb(96, 158, 15);
}

button.delete-option {
    color: #666;
    padding: 0;
    font-family: monospace;
    font-size: 18px;
    margin-left: 0.5em;
}

button.delete-option:hover {
    color:red;
    
}

button.add-option {
    margin-top: 0;
    width: 100%;
    border-radius: 0;
    border: 0;
    background: #89bf33;
    color: #fff;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 0.7em;
}

button.add-option:hover,
button.add-option:active,
button.add-option:focus {
    background: #608622;
    color:#fff;
    outline: none;
}

.copy-code {
    transition: 2s ease background-color;
}

label {
    cursor:pointer;
}

input[type='text'] {
    padding:5px 7px;
    border-radius:2px;
	border:1px solid #bbb;
	transition:200ms ease all;
}

input[type='text']:active,
input[type='text']:focus  {
	border-bottom:2px solid #f92672;
	padding-bottom:4px;
    color:#000;
    outline: none;
}

input[type='radio']:checked + label {
    font-weight:bold;
}


.preview-wrapper {
    margin-top:2em;
}

.preview {
    border:2px dashed rgb(180, 180, 149);
    padding:2em;
    background:#f6f6f6;
}
.result h2 {
    font-size:1.7em;
    font-weight: bold;
    color:#000;
    letter-spacing:-1px;
}




